{% extends "layout.html" %}
{% block body %}
  Prior Date: <a href="{{ url_for('show') }}?date={{ prior_date }}">{{ prior_date }}</a><br/>
  Next Date: <a href="{{ url_for('show') }}?date={{ next_date }}">{{ next_date }}</a><br/>
  <h1>{{ date_to_show }}</h1>
  <ul class=entries>
  {% for entry in entries %}
  <h2>{{ entry.author }}</h2>
  <table>
    <tr>
      <td><b>Yesterday:</b></td><td>{{ entry.yesterday | safe }}</td>
    </tr>
    <tr>
      <td><b>Today:</b></td><td>{{ entry.today | safe }}</td>
    </tr>
    <tr>
      <td><b>Blockers:</b></td><td>{{ entry.blockers | safe }}</td>
    </tr>
  </table>
  {% else %}
    <li><em>No entries for this date</em>
  {% endfor %}
  </ul>
{% endblock %}
